---
layout: default
title: Home
---
<img src = "/assets/wordCloud.png" />
<h1>Welcome!</h1>
<p>This site focuses on the prospect of using reproducible research methods for the design, production, and promulgation of reports related to the assessment of student learning. My most recent blog post is embedded in this page. All posts are available in the blog list in the navigation panel. I would love to hear your thoughts on these topics too. A Disqus forum is a available on all blog posts (just click on their titles to get there) to encourage an ongoing dialog. If you find something that you like, please share it with others using the social media share buttons at the right. Thanks!</p>
<hr>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

       {{post.content}}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
