<div class="share-page">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><img src="/assets/twitter.png" title="Share on Twitter"></a>
    <br />
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}" title="Share on LinkedIn"><img src="/assets/linkin.png" title="Share on LinkedIn"></a>
    <br />
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><img src="/assets/google.png" title="Share on Google+"></a>
    <br />
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook"><img src="/assets/facebook" title="Share on Facebooi"></a>
    <br />
</div>
