<div class="sidebar">
  <div class="sidebar">
    <div class="sidebar-about">
      <h1>Reproducible Assessment</h1>
      <center><img src = "/assets/Greek_key.png" /></center>
      <p class="lead"><em>{{ site.description }}</em></p>
    </div>

    <img src = "/assets/search-by-algolia.png" width = "180px" style="float: center; padding: 0px 20px 0px 10px;">
    <input type="text" class="algolia__input js-algolia__input" autocomplete="off" name="query" placeholder="Search in this site..." />

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" or node.layout == "list"%}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub repository</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p><a href="/LICENSE-content"><img src="/assets/mit.png"></a></p>
  </div>
</div>
